@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
@*<ul style="list-style-type:circle;">*@
    <h4>Projekt</h4>
    <br />
    <h6>Projectet er lavet med ASP.net Core 3.0 Razor Pages</h6>
   
        <img src="~/images/About/projekt.png" style="margin:0 auto; display:block;" />
   
        <br />

    <h6>json data</h6>
        <img src="~/images/About/json_file.png" style="margin:0 auto; display:block;" />
        <br />
    <h6>Model class</h6>
     <img src="~/images/About/json_class.png" style="margin:0 auto; display:block;" />
     <br />
    <h6>Index side</h6>
        <img src="~/images/About/index_cshtml_cs.png" style="margin:0 auto; display:block;" />
        <br />    
    <img src="~/images/About/Inkedindex_cshtml_LI.png.jpg" style="margin:0 auto; display:block;" />
    
    <br />
    <h6>Tilsætning side</h6>
  
        <img src="~/images/About/page2_cshtml_cs.png" style="margin:0 auto; display:block;" />
  
        <br />
        <img src="~/images/About/page2_cshtml.png" style="margin:0 auto; display:block;" />
    <br />

    <h6>Resultat af bestillingen</h6>
        <img src="~/images/About/orderSummary_cshtml_cs.png" style="margin:0 auto; display:block;" />
        <br />
        <img src="~/images/About/orderSummary_cshtml.png" style="margin:0 auto; display:block;" />
<br />
<br />