/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

#Americano{
	display:block;
    background-image: url("images/americano.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
#Sortkaffe{
	display:block;
    background-image: url("images/black_coffee.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
              
#Espresso{
	display:block;
    background-image: url("images/espresso.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
#Varmvand{
	display:block;
    background-image: url("images/hot_water.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
#Cafelatte{
	display:block;
    background-image: url("images/cafe-latte.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
#Kakao{
	display:block;
    background-image: url("images/kakao.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}

              
#Chokolade{
	display:block;
    background-image: url("images/choco.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
#IrskKaffe{
	display:block;
    background-image: url("images/irish_coffee.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
#GreenTea{
	display:block;
    background-image: url("images/green_tea.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
#The{
	display:block;
    background-image: url("images/tea.jpg");
    width:100px;
    height: 85px;
    margin: 2px 2px 2px 2px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    width: 600px;
    margin: 0 auto;
    color:white;
}

.nameBox {
    text-align: center;
    width: 100%;
    margin-top:5px;
}
.itemBox a {
    text-align: center;
    display: block;
    color:black;
    text-decoration:none;
    font-size:large;
    font-weight:700;    
}
.radioBtn {
    margin-left: 10px;
    margin-right: 8px;
}



.itemBox {
    width: 30%;
    float: left;
    margin-left: 15px;
    margin-bottom: 20px;
    background-color: white;
    padding-top: 10px;
    border: 1px solid black;
    transition: transform .2s; /* Animation */
}
.itemBox:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
.text-center {
    padding-bottom:10px;
    overflow: hidden;
    border: 1px  green;    
    padding-top:10px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



    